input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

#FormContent {
    margin: 0 auto;
    left: 50%;
    width: 100%;
    min-height: 100%;
    padding-top: 150px;
    margin-top: 10px;
    margin-bottom: -200px;
    border-radius: 5px;
}

#appointment{
    padding-left: 37%;
}

.pEnter {
    padding-bottom: 14px;
    font-size: 22px;
    margin: 15px;
}

.selectEnter{
    font-size: 22px;
    margin: 15px;
    padding-bottom: 10px;
}

.selectEnter select{
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    padding-left: 15px;
    padding-right: 10px;
    font-size: 22px;
    /*appearance: none;*/
    /*-webkit-appearance: none;*/
    /*-moz-appearance: none;*/
    /*通过padding-left的值让文字居中*/
}

#appointment_date{
    font-size: 22px;
    color: green;
}

.bigTitle{
    padding-top: 40px;
    margin-bottom: 0;
}