/*-----------------------------*/
table{
    width: 200px;
    height: 200px;
    margin: 0px auto;
    align-content: center;
    align: left;
    text-align: left;
}


table,th,tr{
    background-color: white;
    align: left;
    text-align: left;
    font-size: 20px;
    padding:5px 20px;
    color:#555;
}

table{
    margin-bottom:20px;
}

th{
    white-space:nowrap;
    text-overflow:ellipsis;
    width:50px;
}

#TB_content{
    min-height: 100%;
    padding-top: 200px;
    margin-top: 10px;
    margin-bottom: -200px;
}

#newService{
    text-align: center;
    font-size: 18px;
    white-space:nowrap;
    text-overflow:ellipsis;
    font-family: 'Ubuntu', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
    color: red;
    align-content: center;
    margin: 10px;
}