<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/booked.css') }}">

</head>
<body>
<div id="topBanner" class="Banner">
    <div id="shopName" class=headcontainer>
        <text class=bigTitle><span>Beauty Care Service</span></text>
    </div>
    <div id="topNav">
        <ul>
            <li><a href="#Logout" onclick="location='/logout'">Logout</a></li>
            <li><a href="#Username" onclick="location='/userinfo'">{{ user.name }}</a></li>
            <li><a href="#Homepage" onclick="location='/appointment'">Home Page</a></li>
        </ul>
    </div>
</div>
<div id="FormContent" class='billercontainer'
     style="display: flex; justify-content: space-around; flex-wrap: wrap;">
    <div class="bigTitle">Booked Appointments</div>
    {% with message = get_flashed_messages() %}
        {% if message %}
            {% for msg in message %}
                <p style="color: red; text-align: center;">{{ msg }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% if appointments %}
        {% for appointment in appointments %}
            <div class="FormContainer">
                <form action="{{ url_for('user.booked') }}" method="post"
                      onsubmit="return confirm('Cancellation is irrecoverable, do you really want to cancel your appointment?')">
                    <br>
                    <input type="hidden" name="app_ID" value="{{ appointment.ID }}">
                    <p>Appointment{{ loop.index|string }}</p>
                    <p>Service Type: {{ service_name[appointment.service_type] }}</p>
                    <p>Service Time: {{ appointment.date + ' ' + appointment.time }}</p>
                    <input type="button" onclick="location='{{ url_for('user.viewaptmt', app_ID=appointment.ID) }}'"
                           value='View' name='view' class="s-button">
                    <input type="submit" value="Cancel" name="cancel" class="s-button">
                </form>
            </div>
        {% endfor %}
    {% else %}
        <div style="text-align: center;">
            <p>You currently have no appointment with us!</p><br>
            <p>Please click the button below to book an appointment with us first!</p><br>
            <a href="{{ url_for('user.book') }}">
                <button class="button">Book Appointment</button>
            </a>
        </div>
    {% endif %}
</div>
<!--</div>-->
<div id="bottomBanner" class="Banner"></div>
</body>
<script type="text/javascript" src="../static/js/controller.js"></script>
<!--<script>-->
<!--    var content = document.getElementById("FormContent")-->
<!--    console.log(content.scrollHeight)-->
<!--    var contentFactor = content.scrollHeight-600;-->
<!--    var cf_str = "-" + contentFactor+ "px"-->
<!--    var bottom = document.getElementById("bottomBanner")-->
<!--    bottom.style.bottom = cf_str-->
<!--</script>-->
</html>