<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/viewaptmt.css') }}">
</head>
<body>
<div id="topBanner" class="Banner">
    <div id="shopName" class=headcontainer>
        <text class=bigTitle><span>Beauty Care Service</span></text>
    </div>
    <div id="topNav">
        <ul>
            <li><a href="#Logout" onclick="location='/logout'">Logout</a></li>
            <li><a href="#Username" onclick="location='/userinfo'">{{ user.name }}</a></li>
            <li><a href="#Homepage" onclick="location='/appointment'">Home Page</a></li>
        </ul>
    </div>
</div>
<div id="FormContent">
    <div class="bigTitle">Check Appointments</div>
    <div class="FormContainer">
        <p style="max-width: 1200px; margin: 0 auto;">
            {% with message = get_flashed_messages() %}
                {% if message %}
                    {% for msg in message %}
                        <p style="color: red;">{{ msg }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </p>
    </div>
    <div class="FormContainer">
        <form action="{{ url_for('user.viewaptmt', app_ID=app_ID) }}" method="post"
              onsubmit="return confirm('Please confirm modified information are entered correctly!')">
            <!--显示值可能更好-->
            <p></p>
            <p>
                Service Type:
                {{ service_name[appointment.service_type] }}
            </p>
            <p>
                Time:
                {{ appointment.date + " " + appointment.time }}
            </p>
            <p>
                <label for="location">Location: </label>
                <input type="text" value="{{ appointment.location }}" name="location"/>
            </p>
            <p>
                <label for="message">Optional Message: </label>
                <input type="text" value="{{ appointment.message }}" name="message"/>
            </p>
            <p>
            <div>
                <a href="#" onclick="location='/booked'">
                    <input type="button" value="OK" name="OK" onclick="location='/booked'">
                </a>
                <input type="submit" value="Modify" name="modify">
            </div>
            </p>
        </form>
    </div>
</div>
<div id="bottomBanner" class="Banner"></div>
</body>
</html>